.portfolio{
  display: grid;
  grid :100%;
  height: 100%;
  background-color: blanchedalmond;

}

.left{
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  background-color: rgb(127, 255, 227);
  width: 50%;

  padding-top: 10em;
  position: sticky;
  top: 100px;
}

.right{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  padding-top: 10em;
  background-color: rgb(127, 133, 255);
  width: 100%;
}

.portfolio .cards{
    /* background-color: rgb(127, 255, 227); */
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
  justify-content: center;
  align-items: center;

}

.portfolio .card{
  background-color: rgb(255, 185, 127);
  width: 30%;
  min-width: 25%;
  height: 30vh;
  margin: 20px 10px;
}


.circle{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius:50%;
    background-color:rgb(98, 29, 98);
    z-index: 10;
    margin: 1px;
}

/*   --------------------------   */

@media (max-width: 770px){
    .portfolio .cards{
        flex-direction: column;
        width: 100%;
        min-width: 75%;
    }
    .portfolio .card{
        background-color: rgb(255, 185, 127);
        width: 100%;
        height: 30vh;
        margin: 20px 10px;
      }
}