.btn-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width:50px;
    height: 50px;

    color:#F1F1F1;
    border:1px solid var(--secondary);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:all 0.2s ease-in-out; 
}

.btn-toggle.dark{
    /* background:#333; */
    color:#F1F1F1;
}   
.btn-toggle.light{
    /* background:#F1F1F1; */
    color:#333;
}   