.body-sub-title{
  display: flex;
  /* background-color: rgb(127, 140, 255); */
  height: 100%;
  justify-content: space-between;
}

  .img-div{
    /* background-color: aquamarine; */
    display: flex;
    width: 60%;
    flex-shrink: 1;
    justify-content: start;
    align-items: center;
    overflow:hidden;
    object-fit: contain;  

  }

  .img-container{
    object-fit: contain;
  }

    .img-div img{
      height: 60vh;
      object-fit: contain;  
      border-radius: 10%;
      box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, 0.135);
    }

  .description-content{
    display: flex;
    flex-direction: column;
  }
  .description-div {
    background-color: rgb(255, 127, 127);
    display: flex;
    flex-direction: row;
    width: 30%;
    padding:1em;
    justify-content: end;
    align-items: end;
  }
    .description{
      /* background-color: rgb(255, 185, 127); */
      display: block;

    }