
  .about .img-div{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;  
  }
    .about img{
      display: block;
      width: 50%;
      justify-content: right;  
      align-items: center;  
    }

  .name-div{
    width: 50%;
    display: flex;
    justify-content: center;  
    align-items: center; 
    background-color: aqua; 
    font-weight: 400;
  }

  .about-description{
    width: 50%;
    display: block;
    justify-content: right; 
    margin-left: 100%;
  }
  .about-description p{
    display:block;
    width: 100%;
  }

  

  
