*, *::before, *::after{
    box-sizing: border-box;
  }
  
  :root {
  font-size: 16px;
  --primary:#fffffe;
  --secondary:#111827; 
  --third:rgb(255, 0, 149); 
    scroll-behavior: smooth;
}

.dark {
  background-color: rgb(24, 24, 24);
  color: #fff;
  /* height: 100vh; */
  transition: all 0.3s;
}
.dark a{
  color: rgb(91, 138, 173)
}

.light {
  background-color: #ffffff;
  color: rgb(24, 24, 24);
  /* height: 100vh; */
  transition: all 0.3s;
}

.app {
  transition: all .5s;
}


@font-face {
  font-family: 'PPNeueMontreal';
  src: url(../assets/fonts/PPNeueMontreal-Book.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url(../assets/fonts/PPNeueMontreal-SemiBold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url(../assets/fonts/PPNeueMontreal-Thin.woff2) format('woff2');
  font-weight: 'light';
  font-style: normal;
}

/*   --------------------------   */

  body{
    line-height: 1,625;
    margin: 0;
    font-family: 'PPNeueMontreal','Open Sans', 'sans-serif' ;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--primary);

    /* background: url('../assets/img/Firefox_Screenshot_2022-05-16T12-53-09.226Z.png'), no-repeat; */
  }

  
  .app-container{
    scroll-snap-type: y mandatory; 
    /* overflow-y: scroll; */

  }

  section{
    display: flex;
    height: auto;
    justify-content: center;  
    align-items: center; 
    scroll-snap-align: start; 
    margin: auto; 
  }

.one{
  background-color: #19cc641f
}

  .three{
    display: flex;
    background-color: #0f0e17;
    scroll-snap-type: none; 
    overflow-y: none;
    align-items: start;
    justify-content: start;
    height: auto;
  }

  .four, .five, .six, .seven{
    height: 100vh;
  }

  .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-around;
    /* background-color: #d20f3356 */
  }
  .container-small{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-between;
    /* background-color: #d20f3356 */
  }
  .container-large{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1080px;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-between;
    /* background-color: #d20f3356 */
  }

/*   --------------------------   */
 

  .title-div{
    width: contain;
    display: flex;
    justify-content: center;  
    /* background-color: rgb(214, 127, 255); */

  }
    .title-div h3{
      width: 100%;
      display: block;
      font-weight: thin;
    /* background-color: rgb(214, 127, 255); */

    }
    .title-div h3::after{
      content:"";
      background-color: rgba(117, 190, 218, 0.5);
      display: flex;
      position:static;
      width: 100%;
      height: 10px;
      top:-5px;
    }


/*   --------------------------   */

    .btn-toggle{
      display:flex;
      position: fixed;  
      top: 90vh;
      right:20px;
      justify-content: center;
      align-items: center;
      top: 25px;
      right: 30px;
      border-radius: 50%;
      z-index: 2;
    }
    
    .btn-toggle i{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 80px;
      cursor: default;
    }
    
    .btn-toggle i:hover{
      cursor: pointer;
    }

/*   --------------------------   */

@media (max-width: 1080px){
  .app-container{
    scroll-snap-type: none;
    padding-top: 10vh
  }
  .section{
    height: auto;
    min-height: 100vh;
  }

  .one , .two , .three, .four , .five, .six , .seven{
    height: auto;
    min-height: 100vh;
  }

  .container, .container-small, .container-large{
    height: auto;
    
    margin: auto 1em;
  }
  .description-content{
    flex-wrap: wrap;
    overflow: hidden;
  }

  .btn-toggle{
    top: 90vh;
    right: 20px;
    border-radius: 50%;
    justify-content: right;
  }
  .btn-toggle i{
    display: flex;
    justify-content: right;
  }
} 