*, *::before, *::after{
    box-sizing: border-box;
  scroll-behavior: smooth;

  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
  html,body{
    font-family: 'Open-Sans', sans-serif;
    scroll-snap-type: y mandatory;
    }
  
  :root {
  --primary-light:#fffffe;
  --secondary-light:#111827; 
  --third-light:rgb(255, 0, 149); 
  --fourth-light:#a15abf; 

  --primary-dark:#111827;
  --secondary-dark:#fffffe  ; 
  --third-dark:#5ABFA3; 
  --fourth-dark:#bfb55a; 
}

  
@media(prefers-color-scheme:dark){
  :root{
    --primary:var(--primary-dark);
    --secondary:var(--secondary-dark);
    --third:var(--third-dark);
  }
}

@media(prefers-color-scheme:light){
  :root{
    --primary:var(--primary-light);
    --secondary:var(--secondary-light);
    --third: var(--third-light);
  }
}

.light {
  background-color: var( --secondary);
  color: var(--primary);
}

.dark {
  background-color: var( --pimary);
  color: var( --secondary);
}

.pp {
  transition: all .5s;
  scroll-behavior: smooth;
  font-size: 16px;
}

/*   --------------------------   */

  body{
    line-height: 1,625;
    margin: 0;
    font-family: 'PPNeueMontreal','Open Sans', 'sans-serif' ;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--primary);

    /* background: url('../assets/img/Firefox_Screenshot_2022-05-16T12-53-09.226Z.png'), no-repeat; */
  }

  

  section{
    display: flex;
    height: 100vh;
    justify-content: center;  
    align-items: center; 
    scroll-snap-align: start; 
    margin: auto; 
    scroll-snap-type: y proximity ; 

  }

  .three{
    display: flex;
    background-color: #0f0e17;
    align-items: none;
    justify-content: none;
    height: auto;
    scroll-snap-type: none;
    /* overflow-y: scroll; */
    scroll-snap-align: start; 


 
  }

  .four{
    scroll-snap-type: none;
  }

  section.four, section.five, section.six, section.seven{
    height: 100vh;
    scroll-snap-type: y mandatory ; 
  }

  .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-around;
  }
  .container-small{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-between;
  }
  .container-large{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1080px;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-between;
  }

/*   --------------------------   */
 

  .title-div{
    width: contain;
    display: flex;
    justify-content: center;  

  }
    .title-div h3{
      width: 100%;
      display: block;
      font-weight: thin;

    }
    .title-div h3::after{
      content:"";
      background-color: var(--third);
      display: flex;
      position:static;
      width: 100%;
      height: 10px;
      top:-5px;
    }


/*   --------------------------   */

    .btn-toggle{
      display:flex;
      position: fixed;  
      top: 90vh;
      right:20px;
      justify-content: center;
      align-items: center;
      top: 25px;
      right: 30px;
      border-radius: 50%;
      z-index: 2;
    }
    
    .btn-toggle i{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 80px;
      cursor: default;
    }
    
    .btn-toggle i:hover{
      cursor: pointer;
    }

/*   --------------------------   */

@media (max-width: 1080px){
  .app-container{
    scroll-snap-type: none;
    padding-top: 10vh
  }
  .section{
    height: auto;
    min-height: 100vh;
  }

  .one , .two , .three, .four , .five, .six , .seven{
    height: auto;
    min-height: 100vh;
  }

  .container, .container-small, .container-large{
    height: auto;
    
    margin: auto 1em;
  }
  .description-content{
    flex-wrap: wrap;
    overflow: hidden;
  }

  .btn-toggle{
    top: 90vh;
    right: 20px;
    border-radius: 50%;
    justify-content: right;
  }
  .btn-toggle i{
    display: flex;
    justify-content: right;
  }
} 