*, *::before, *::after{
    box-sizing: border-box;
  }
  
  :root {
  font-size: 16px;
  --primary:#FFF;
  --secondary:#111827; 
  --third:#d20f33; 
}

[data-theme='dark'] {
  background-color: var(--secondary);
  color: var(--primary)
}

.app {
  transition: all .5s;
}


@font-face {
  font-family: 'PPNeueMontreal';
  src: url(../assets/fonts/PPNeueMontreal-Book.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url(../assets/fonts/PPNeueMontreal-SemiBold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url(../assets/fonts/PPNeueMontreal-Thin.woff2) format('woff2');
  font-weight: 'light';
  font-style: normal;
}

  body{
    line-height: 1,625;
    margin: 0;
    font-family: 'PPNeueMontreal','Open Sans', 'sans-serif' ;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--primary);

    /* background: url('../assets/img/Firefox_Screenshot_2022-05-16T12-53-09.226Z.png'), no-repeat; */
  }

  
  .app-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  section{
    display: flex;
    /* height: 100vh; */
    max-width: 1080px;
    justify-content: center;  
    align-items: center; 
    scroll-snap-align: start; 
    /* padding: auto;  */
    margin: auto; 
    /* overflow: hidden; */
  }

  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-around;
    /* background-color: #d20f3356 */
  }
  .container-small{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: 20px auto ;
    padding: 10vh 20px;
    align-items: center;
    justify-content: center;
    align-items: space-between;
    /* background-color: #d20f3356 */
  }

/*   --------------------------   */
 

  .title-div{
    width: contain;
    display: block;
    justify-content: center;  
    /* background-color: rgb(214, 127, 255); */

  }
    .title-div h3{
      width: 100%;
      display: block;
      font-weight: thin;
    /* background-color: rgb(214, 127, 255); */

    }
    .title-div h3::after{
      content:"";
      background-color: rgba(117, 190, 218, 0.5);
      display: block;
      position:relative;
      width: 100%;
      height: 10px;
      top:-5px
    }


/*   --------------------------   */

    .btn-toggle{
      display:flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 25px;
      right: 30px;
      border-radius: 50%;
      z-index: 2;
    }
    
    .btn-toggle i{
      display: inline-block;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 80px;
      cursor: default;

    }
    
    .btn-toggle i:hover{
      cursor: pointer;
    }




@media (max-width: 1080px){

}
@media (max-width: 1000px){
  .navbar{
    background-color:#d20f33
  }
}
@media (max-width: 770px){
  .section{
    overflow: visible;
  }
}