.footer{
    display: flex;
}

.icon-list{
    display:flex;
    /* max-height: 200px; */
    justify-content: space-evenly;
    /* align-items: center; */
}

.icon-list i{
    display: flex;
    padding: 5px;
    justify-content: center;
    /* align-items: center; */
}
.icon-list i img{
    display: flex;
    height: 8vh;
}