.tech-list{


}
.tech-list{
    flex-wrap: wrap;
    display: flex;
    padding: 1em ;
    justify-content: space-around;
}
.tech-list span{
    padding: 1em;
    line-height:1em;
}
.tech-list img{
    padding: 1em;
    line-height:1em;
    height: 75px;
}